// colors
// $sabicCyan: #009FDF;
// $cyan-80: #46B4E6;
// $darkCyan: #008CC8;
// $sabicGray: #C6C8CA;
// $sabicYellow: #FFCD00;
// $sabicGrey-1: #4D4D4D;
// $yellow-60: #FFE678;
// $darkYellow: #FFC300;
// $sabicGray-1: #4D4D4D;
// $sabicGray-3: #C6C8CA;
// $sabicGray-2: #393598;
$white: #fff;
$blueGray: #354A5F;
$ltGray: #939598;
$whiteGray: #D9D9D9;
$textGray: #889091;
$linkBlue:rgba(0, 71, 187, 0.75);
$Gray-1: #58595D;
$checkedBlue: #0047BB;
$placeholderGray: #C6C8CA;
$btnOutlineBlue: rgba(0, 71, 187, 0.75);
$iconGray: #8E8C8C;
$caretChangeBlue: #009FDF;
$red: #fa0000;
$footerGray: #e1e1e1;
$blue-1: #041E42;
$tabBlueInactive:  rgba(0, 71, 187, 0.6);
$tabActiveBorder: #4D4D4D;
$fadeBorder: #E3E7E8;
//Fonts
