@mixin font-16 {
  font-size: 16px;
  line-height: 24px;
}

@mixin font-18 {
  font-size: 18px;
  line-height: 27px;
}
@mixin font-13 {
  font-size: 13px;
  line-height: 20px;
}

@mixin font-14 {
  font-size: 14px;
  line-height: 20px;
}

@mixin font-20 {
  font-size: 20px;
  line-height: 30px;
}
@mixin caretStyle {
  border: none;
  background: transparent;
  outline: none;
  padding: 0;
  padding-left: 10px;
}

@mixin headerDpStyles {
  background: $white;
  border: 1px solid $whiteGray;
  border-radius: 12px;
  padding: 0 12px 10px 12px;
  position: absolute;
  top: 50px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}