@media (min-width: 1200px) {
  /* line 4, ../sass/responsive.scss */
  .container {
    max-width: 1320px;
  }
}
@media (min-width: 1500px) {
  /* line 10, ../sass/responsive.scss */
  .container {
    max-width: 1420px;
  }

  /* line 13, ../sass/responsive.scss */
  .sort {
    width: 255px !important;
  }

  /* line 24, ../sass/responsive.scss */
  .pageTopSection .searchBox {
    width: 520px;
  }

  /* line 30, ../sass/responsive.scss */
  .mainContentSection .empDetails .idDetails {
    width: 80%;
  }
}
@media (min-width: 1700px) {
  /* line 38, ../sass/responsive.scss */
  .container {
    max-width: 1620px;
  }

  /* line 43, ../sass/responsive.scss */
  .pageTopSection .searchBox {
    width: 700px;
  }
  /* line 46, ../sass/responsive.scss */
  .pageTopSection .searchBox .input-group-prepend button {
    padding: 0 30px 0 30px;
  }

  /* line 54, ../sass/responsive.scss */
  .mainContentSection .empDetails .idDetails {
    width: 69%;
  }
}
@media (max-width: 991px) {
  /* line 92, ../sass/responsive.scss */
  .searchBox .input-group-prepend {
    flex-basis: 15%;
  }
  /* line 96, ../sass/responsive.scss */
  .searchBox .searchControlContent {
    flex-basis: 85%;
  }
}
@media (max-width: 767px) {
  /* line 104, ../sass/responsive.scss */
  .searchBox .input-group-prepend {
    flex-basis: 18%;
  }
  /* line 108, ../sass/responsive.scss */
  .searchBox .searchControlContent {
    flex-basis: 82%;
  }
  /* line 112, ../sass/responsive.scss */
  .searchBox .searchControlContent .searchControl::placeholder {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 479px) {
  /* line 124, ../sass/responsive.scss */
  header .headerElementDetails .uhSameStyle {
    font-size: 13px;
  }

  /* line 130, ../sass/responsive.scss */
  button.roundBtn {
    height: 45px;
    width: 150px;
  }

  /* line 137, ../sass/responsive.scss */
  h1 {
    line-height: 35px;
    font-size: 24px;
  }

  /* line 142, ../sass/responsive.scss */
  .searchBox {
    height: 60px;
  }
  /* line 145, ../sass/responsive.scss */
  .searchBox .input-group-prepend {
    flex-basis: 25%;
  }
  /* line 148, ../sass/responsive.scss */
  .searchBox .input-group-prepend button {
    padding: 0 20px 0 20px;
  }
  /* line 153, ../sass/responsive.scss */
  .searchBox .searchControlContent {
    flex-basis: 75%;
  }

  /* line 159, ../sass/responsive.scss */
  .filterMenu:before {
    left: -220px;
  }
  /* line 163, ../sass/responsive.scss */
  .filterMenu .filter {
    flex-wrap: wrap;
  }

  /* line 169, ../sass/responsive.scss */
  .searchresultContent button {
    font-size: 14px;
    line-height: 20px;
  }
  /* line 172, ../sass/responsive.scss */
  .searchresultContent button img {
    padding-left: 5px;
  }
}
